[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_full_version = "3.6.4"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-httpauth = "*"
flask-login = "*"
flask-migrate = "*"
flask-moment = "*"
flask-pagedown = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-wtf = "*"
"jinja2" = "*"
mako = "*"
markdown = "*"
markupsafe = "*"
sqlalchemy = "*"
wtforms = "*"
werkzeug = "*"
alembic = "*"
amqp = "<3"
anyjson = "*"
billiard = "*"
bleach = "*"
blinker = "*"
celery = "<5"
"html5lib" = "*"
itsdangerous = "*"
kombu = "<5"
pytz = "*"
redis = "*"
six = "*"
flask-sslify = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pygithub = "*"
py-trello = "*"
cython="*"
ddtrace = "*"
coveralls = "*"
python-dotenv = "*"
flask-dotenv = "*"
func-timeout = "*"
jira = {git = "https://github.com/pycontribs/jira", ref = "b360dcc5806ae79d753ce05110b436afe8f1e942"}
email-validator = "*"

[dev-packages]
mock = "*"
