[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_full_version = "3.6.4"

[packages]
flask = "<2"
flask-bootstrap = "==3.3.7.1"
flask-httpauth = "==4.1.0"
flask-login = "==0.5.0"
flask-migrate = "==2.5.3"
flask-moment = "==0.10.0"
flask-pagedown = "==0.3.0"
flask-sqlalchemy = "==2.4.3"
flask-script = "==2.0.6"
flask-wtf = "==0.14.3"
"jinja2" = "*"
mako = "*"
markdown = "*"
markupsafe = "*"
sqlalchemy = "==1.3.17"
wtforms = "<3"
werkzeug = "*"
alembic = "==1.4.2"
amqp = "<3"
anyjson = "*"
billiard = "*"
bleach = "*"
blinker = "*"
celery = "<5"
"html5lib" = "*"
itsdangerous = "*"
kombu = "<5"
pytz = "*"
redis = "*"
six = "*"
flask-sslify = "==0.1.5"
gunicorn = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pygithub = "*"
py-trello = "*"
cython="*"
ddtrace = "*"
coveralls = "*"
python-dotenv = "*"
flask-dotenv = "==0.1.2"
func-timeout = "*"
jira = "*"
email-validator = "*"

[dev-packages]
mock = "*"
