[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_full_version = "3.6.4"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-httpauth = "*"
flask-login = "*"
flask-migrate = "*"
flask-moment = "*"
flask-pagedown = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-wtf = "*"
"jinja2" = "*"
mako = "*"
markdown = "*"
markupsafe = "*"
sqlalchemy = "*"
wtforms = "*"
werkzeug = "*"
alembic = "*"
amqp = "*"
anyjson = "*"
billiard = "*"
bleach = "*"
blinker = "*"
celery = "*"
"html5lib" = "*"
itsdangerous = "*"
kombu = "*"
pytz = "*"
redis = "*"
six = "*"
flask-sslify = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pygithub = "*"
py-trello = "*"
ddtrace = "*"
coveralls = "*"
python-dotenv = "*"
flask-dotenv = "*"
jira = "*"
func-timeout = "*"

[dev-packages]
mock = "*"
