<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% macro render(repos) %}
  <table class="table table-hover repos">
    <thead>
      <tr>
        <th>GitHub ID</th>
        <th>Name</th>
        <th>URL</th>
        <th>Issues</th>
        <th>Pull Requests</th>
      </tr>
    </thead>

    {% for repo in repos %}
    <tr>
      <td>{{ repo.github_repo_id }}</td>
      <td>{{ repo.name }}</td>
      <td>
        <a href="{{ repo.url }}">
          {{ repo.url }}
        </a>
      </td>
      <td>
        <a href="{{ url_for('issue.index', repo_id=repo.id) }}">
          <b>({{ repo.issues.count() }})</b> issue cards
        </a>
      </td>
      <td>
        <a href="{{ url_for('pull_request.index', repo_id=repo.id) }}">
          <b>({{ repo.pull_requests.count() }})</b> pull request cards
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endmacro %}
