<ul class="repos">
  {% for repo in repos %}
    <li class="repo">
      <div class="repo-thumbnail">
        <a href="{{ url_for('.user', username=repo.author.username) }}">
          User name - rethink lol
        </a>
      </div>

      <div class="repo-content">
        <div class="repo-date">
          {{ moment(repo.timestamp).fromNow() }}
        </div>
        <div class="repo-author">
          <a href="{{ url_for('.user', username=repo.author.username) }}">
            {{ repo.author.username }}
          </a>
        </div>
        <div class="repo-body">
          {% if repo.body_html %}
            {{ repo.body_html | safe }}
          {% else %}
            {{ repo.body }}
          {% endif %}
        </div>

        <div class="repo-footer">
          {% if current_user == repo.author %}
            <a href="{{ url_for('.edit', id=repo.id) }}">
              <span class="label label-primary">Edit</span>
            </a>
          {% elif current_user.is_administrator() %}
            <a href="{{ url_for('.edit', id=repo.id) }}">
              <span class="label label-danger">Edit [Admin]</span>
            </a>
          {% endif %}

          <a href="{{ url_for('.repo', id=repo.id) }}">
            <span class="label label-default">Permalink</span>
          </a>

          <a href="{{ url_for('.repo', id=repo.id) }}#issues">
            <span class="label label-primary">{{ repo.issues.count() }} Issues</span>
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
