<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "bootstrap/base.html" %}

{% block title %}Gello{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Gello</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('board.index') }}">Boards</a></li>
          <li><a href="{{ url_for('github_member.index') }}">GitHub Members</a></li>
          <li><a href="{{ url_for('trello_member.index') }}">Trello Members</a></li>
          <li><a href="{{ url_for('repo.index') }}">Repositories</a></li>
          <li><a href="{{ url_for('subscription.index') }}">Subscriptions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}

  <!-- jQuery UI for autocomplete -->
  <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>

  <!-- Autocomplete helper function -->
  <script type="text/javascript">
    function loadAutocompleteData(endpoint, scope, attribute, input_id) {
      var records = [];

      $.getJSON(endpoint, function(data, status, xhr) {
        records = $.map(data[scope], function(record) { return record[attribute]; });
        $(input_id).autocomplete({source: records});
      });
    };
  </script>
{% endblock %}
