<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% import "partials/_repos.html" as _repos %}

{% block title %}Gello{% endblock %}

{% block page_content %}
  {% if current_user.is_authenticated %}
    <div class="page-header">
      <h1>{{ organization_name }}'s Subscribed Repositories</h1>
    </div>
    {{ _repos.render(subscribed_repos) }}

    {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% endif %}

    <div class="repo-tabs">
      <ul class="nav nav-tabs">
        <li>
          <a href="{{ url_for('board.index') }}">Boards</a>
        </li>
        <li>
          <a href="{{ url_for('github_member.index') }}">GitHub Members</a>
        </li>
        <li>
          <a href="{{ url_for('trello_member.index') }}">Trello Members</a>
        </li>
        <li>
          <a href="{{ url_for('repo.index') }}">Repos</a>
        </li>
        <li>
          <a href="{{ url_for('subscription.index') }}">Subscriptions</a>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="page-header">
      <h1>Please <a href="{{ url_for('auth.login') }}">login</a>.</h1>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
