{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Gello{% endblock %}

{% block page_content %}
  <div class="page-header">
    {% if current_user.is_authenticated %}
      <h1>Hello, {{ current_user.username }}.</h1>
    {% else %}
      <h1>Please <a href="{{ url_for('auth.login') }}">login</a>.</h1>
    {% endif %}
  </div>

  {% if current_user.is_authenticated %}
    <div class="repo-tabs">
      <ul class="nav nav-tabs">
        <li>
          <a href="{{ url_for('board.index') }}">Boards</a>
        </li>
        <li>
          <a href="{{ url_for('contributor.index') }}">Contributors</a>
        </li>
        <li>
          <a href="{{ url_for('repo.index') }}">Repos</a>
        </li>
        <li>
          <a href="{{ url_for('subscription.index') }}">Subscriptions</a>
        </li>
      </ul>
    </div>
  {% endif %}

  {% if current_user.is_authenticated %}
    <div>
      <!-- TODO: make this intoka partial -->
      <h3>{{ organization_name }}'s Subscribed Repositories</h3>

      <table class="table table-hover repos">
        <thead>
          <tr>
            <th>GitHub ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Issues</th>
            <th>Pull Requests</th>
          </tr>
        </thead>
        {% for repo in subscribed_repos %}
          <tr>
            <td>{{ repo.github_repo_id }}</td>
            <td>{{ repo.name }}</td>
            <td>
              <a href="{{ repo.url }}">
                {{ repo.url }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('issue.index', id=repo.id) }}">
                <b>({{ repo.issues.count() }})</b> issues for {{ repo.name }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('pull_request.index', id=repo.id) }}">
                <b>({{ repo.pull_requests.count() }})</b> pull requests for {{ repo.name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
