<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "jira_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% import "partials/_repos.html" as _repos %}

{% block title %}JIRA Subscriptions{% endblock %}

{% block page_content %}
  {% if current_user.is_authenticated %}
    <div class="page-header">
      <h1>JIRA Subscriptions</h1>
    </div>

    <table class="table table-hover subscriptions">
      <thead>
        <tr>
          <th>Project</th>
          <th>Repository</th>
          <th>Subscribed Issues</th>
          <th>Issues</th>
          <th>Autocard</th>
          <th>Pull Requests</th>
          <th>Autocard</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>

      {% for subscription, update_form, delete_form in subscription_forms_tuples %}
        <tr>
          <td>
            <a href="{{ jira_base_url + '/browse/' + subscription.project.key }}">
              {{ subscription.project.name }}
            </a>
          </td>
          <td>
            <a href="{{ subscription.repo.url }}">
              {{ subscription.repo.name }}
            </a>
          </td>
          <td>
            <a href="{{ url_for('subscribed_item.index', project_key=subscription.project_key, repo_id=subscription.repo_id) }}">
              <b>({{ subscription.subscribed_jira_issues.count() + subscription.subscribed_jira_projects.count() }})</b> subscribed issues
            </a>
          </td>
          <form method="POST" action="{{ url_for('jira_subscription.update', project_key=subscription.project_key, repo_id=subscription.repo_id) }}">
            <td>
              <a href="{{ url_for('issue.filtered_by_project', repo_id=subscription.repo.id, project_key=subscription.project_key) }}">
                <b>({{ subscription.repo.number_of_issues_by_project_key(subscription.project_key) }})</b> JIRA issues
              </a>
            </td>
            <td>{{ update_form.issue_autocard(checked=subscription.issue_autocard) }}</td>
            <td>
              <a href="{{ url_for('pull_request.filtered_by_project', repo_id=subscription.repo.id, project_key=subscription.project_key) }}">
                <b>({{ subscription.repo.number_of_pull_requests_by_project_key(subscription.project_key) }})</b> JIRA issues
              </a>
            </td>
            <td>{{ update_form.pull_request_autocard(checked=subscription.pull_request_autocard) }}</td>
            <td>{{ update_form.submit(class="btn btn-primary") }}</td>
          </form>
          <form method="POST" action="{{ url_for('jira_subscription.delete', project_key=subscription.project_key, repo_id=subscription.repo_id) }}">
            <td>{{ delete_form.submit(class="btn btn-danger") }}</td>
          </form>
        </tr>
      {% endfor %}
    </table>

    <hr>

    <div class="page-header float-container">
      <div class="float-left">
        <h3>
          <b>Create New JIRA Subscription</b>
        </h3>
      </div>

      <div class="float-right">
        {% if pagination %}
          <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
          </div>
        {% endif %}
      </div>
    </div>

    {{ wtf.quick_form(create_form, action=url_for('jira_subscription.create')) }}
  {% else %}
    <div class="page-header">
      <h1>Please <a href="{{ url_for('auth.login') }}">login</a>.</h1>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
  <script type="text/javascript">
    $(document).ready(function() {
      loadAutocompleteData('/api/projects', 'projects', '#project_name');
      loadAutocompleteData('/api/repos', 'repos', '#repo_name');
    });
  </script>
{% endblock %}
