<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Pull Requests{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Community pull request cards for <b>{{ repo.name }}</b></h1>
  </div>

  <table class="table table-hover pull-requests">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Trello Card URL</th>
        <th>Trello Card ID</th>
      </tr>
    </thead>

    {% for pull_request in pull_requests %}
    <tr>
      <td>{{ pull_request.name }}</td>
      <td>
        <a href="{{ pull_request.url }}">
          {{ pull_request.url }}
        </a>
      </td>
      <td>
        <a href="{{ pull_request.trello_card_url }}">
          {{ pull_request.trello_card_url }}
        </a>
      </td>
      <td>{{ pull_request.trello_card_id }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
