<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->
{% if project %}
  {% extends "jira_base.html" %}
{% elif board %}
  {% extends "trello_base.html" %}
{% endif %}
{% import "_macros.html" as macros %}

{% block title %}Pull Requests{% endblock %}

{% block page_content %}
  <div class="page-header">
      {% if board %}
      <h1>Community Pull Request Cards</h1>
      {% endif %}

      {% if project %}
      <h1>Community Pull Request JIRA Issues</h1>
      {% endif %}
  </div>
  <div class="page-header">
    <h3>
      For repository <b>{{ repo.name }}</b>

      {% if board and board.trello_board_id %}
      on Trello board <b>{{ board.name }}</b>
      {% endif %}

      {% if project and project.name %}
      and JIRA project <b>{{ project.name }}</b>
      {% endif %}
    </h3>
  </div>

  <table class="table table-hover pull-requests">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        {% if board %}
        <th>Trello Card URL</th>
        <th>Trello Card ID</th>
        {% elif project %}
        <th>JIRA Issue URL</th>
        <th>JIRA Issue Key</th>
        {% endif %}
      </tr>
    </thead>

    {% for pull_request in pull_requests %}
      <tr>
        <td>{{ pull_request.name }}</td>
        <td>
          <a href="{{ pull_request.url }}">
            {{ pull_request.url }}
          </a>
        </td>
        {% if board %}
        <td>
          <a href="{{ pull_request.trello_card_url }}">
            {{ pull_request.trello_card_url }}
          </a>
        </td>
        <td>{{ pull_request.trello_card_id }}</td>
        {% elif project %}
        <td>
          <a href="{{ jira_base_url + '/browse/' + pull_request.jira_issue_key }}">
            {{ jira_base_url + '/browse' + pull_request.jira_issue_key }}
          </a>
        </td>
        <td>{{ pull_request.jira_issue_key }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% if pagination %}
    <div class="pagination">
      {% if board and board.trello_board_id %}
        {{ macros.pagination_widget(pagination, '.filtered_by_board', repo_id=repo.id, board_id=board.trello_board_id) }}
      {% elif project and project.name %}
        {{ macros.pagination_widget(pagination, '.filtered_by_project', repo_id=repo.id, project_key=project.key) }}
      {% elif project %}
        {{ macros.pagination_widget(pagination, '.jira', repo_id=repo.id) }}
      {% else %}
        {{ macros.pagination_widget(pagination, '.index', repo_id=repo.id) }}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
