<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Subscribed Lists{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Subscribed Lists for <b>{{ subscription.repo.name }} | {{ subscription.board.name }}</b></h1>
  </div>

  <table class="table table-hover trello-lists">
    <thead>
      <tr>
        <th>Repository Name</th>
        <th>Board Name</th>
        <th>List Name</th>
        <th>Member ID</th>
        <th>Delete</th>
      </tr>
    </thead>

    {% for subscribed_list, form in list_form_pairs %}
      <tr>
        <td>{{ subscribed_list.subscription.repo.name }}</td>
        <td>{{ subscribed_list.subscription.board.name }}</td>
        <td>{{ subscribed_list.list.name }}</td>
        <td>{{ subscribed_list.trello_member_id }}</td>

        <form method="POST" action="{{ url_for('.delete', board_id=subscription.board_id, repo_id=subscription.repo_id, list_id=subscribed_list.list_id) }}">
          <td>{{ form.submit(class="btn btn-danger") }}</td>
        </form>
      </tr>
    {% endfor %}
  </table>

  <div class="page-header">
    <h3><b>Create New Subscribed List</b></h3>
  </div>

  {{ wtf.quick_form(create_form) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
  <script type="text/javascript">
    $(document).ready(function() {
      loadAutocompleteData('/api/lists/{{ subscription.board_id }}', 'lists', '#list_name');
      loadAutocompleteData('/api/trello_members', 'trello_members', '#trello_username');
    });
  </script>
{% endblock %}
