{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Subscriptions{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Subscriptions</h1>
  </div>

  <table class="table table-hover subscriptions">
    <thead>
      <tr>
        <th>Board ID</th>
        <th>Repository ID</th>
        <th>Autocard</th>
        <th>Update Subscription</th>
        <th>Delete Subscription</th>
      </tr>
    </thead>

    {% for subscription, update_form, delete_form in subscription_forms_tuples %}
      <tr>
        <td>{{ subscription.board_id }}</td>
        <td>{{ subscription.repo_id }}</td>
        <form method="POST" action="/subscriptions/{{ subscription.board_id }}/{{ subscription.repo_id }}/update">
          <td>{{ update_form.autocard(value=subscription.autocard) }}</td>
          <td>{{ update_form.submit }}</td>
        </form>
        <form method="POST" action="/subscriptions/{{ subscription.board_id }}/{{ subscription.repo_id }}/delete">
          <td>{{ delete_form.submit }}</td>
        </form>
      </tr>
    {% endfor %}
  </table>

  <hr>

  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  {% endif %}

  <h3>Create New Subscription</h3>
  <div>
    {{ wtf.quick_form(create_form) }}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
