<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Subscriptions{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Subscriptions</h1>
  </div>

  <table class="table table-hover subscriptions">
    <thead>
      <tr>
        <th>Board ID</th>
        <th>Repository ID</th>
        <th>Subscribed Lists</th>
        <th>Issue Autocard</th>
        <th>Pull Request Autocard</th>
        <th>Update Subscription</th>
        <th>Delete Subscription</th>
      </tr>
    </thead>

    {% for subscription, update_form, delete_form in subscription_forms_tuples %}
      <tr>
        <td>{{ subscription.board_id }}</td>
        <td>{{ subscription.repo_id }}</td>
        <td>
          <a href="{{ url_for('subscribed_list.index', board_id=subscription.board_id, repo_id=subscription.repo_id) }}">
          {{ subscription.subscribed_lists.count() }} lists
          </a>
        </td>
        <form method="POST" action="/subscriptions/{{ subscription.board_id }}/{{ subscription.repo_id }}/update">
          <td>{{ update_form.issue_autocard(checked=subscription.issue_autocard) }}</td>
          <td>{{ update_form.pull_request_autocard(checked=subscription.pull_request_autocard) }}</td>
          <td>{{ update_form.submit(class="btn btn-primary") }}</td>
        </form>
        <form method="POST" action="/subscriptions/{{ subscription.board_id }}/{{ subscription.repo_id }}/delete">
          <td>{{ delete_form.submit(class="btn btn-danger") }}</td>
        </form>
      </tr>
    {% endfor %}
  </table>

  <hr>

  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  {% endif %}

  <h3>Create New Subscription</h3>
  <div>
    {{ wtf.quick_form(create_form) }}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}

  <script type="text/javascript">
    $(document).ready(function() {
      loadAutocompleteData('/api/boards', 'boards', '#board_id');
      loadAutocompleteData('/api/repos', 'repos', '#repo_id');
    });
  </script>
{% endblock %}
