<!--
     Unless explicitly stated otherwise all files in this repository are licensed
     under the Apache 2 License.

     This product includes software developed at Datadog
     (https://www.datadoghq.com/).

     Copyright 2018 Datadog, Inc.
-->

{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Trello Lists{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Lists for <b>{{ board.name }}</b></h1>
  </div>

  <table class="table table-hover trello-lists">
    <thead>
      <tr>
        <th>Name</th>
        <th>Trello List ID</th>
        <th>Trello Board ID</th>
        <th>Active</th>
        <th>Update</th>
      </tr>
    </thead>

    {% for trello_list, form in list_form_pairs %}
      <tr>
        <td>{{ trello_list.name }}</td>
        <td>{{ trello_list.trello_list_id }}</td>
        <td>{{ trello_list.board_id }}</td>

        <form method="POST" action="/boards/lists/{{ board.id }}/update/{{ trello_list.id }}">
          <td>{{ form.active(value=trello_list.active) }}</td>
          <td>{{ form.submit(class="btn btn-primary") }}</td>
        </form>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
